* {
  margin: 0;
  padding: 0;
}

.main-contetnt {
  max-width: 1920px;
  background: #FFF;
}

header {
  width: 1920px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
}

.logo {
  padding-left: 375px;
  padding-top: 45px;
  display: flex;
  gap: 14px;
}

.logo__img {
  background-color: transparent;
}

.logo__text {
  font-size: 24px;
  font-weight: 700;
}

.logo__grow {
  color: #000;
}

.logo__be {
  color: #f25822;
}

a {
  text-decoration: none;
}

.menu {
  padding-left: 500px;
  padding-top: 51px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

}

.menu__home {
  color: #f25822;
}

.main {
  width: 1920px;
  height: 720px;
  margin-top: 90px;
  flex-shrink: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 32px; */
}

.home__left {}

.home__h1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.home__h2 {
  color: #888;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.home__button {
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
}