@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold'), url('./font/Gilroy/Gilroy-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Heavy'), url('./font/Gilroy/Gilroy-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light'), url('./font/Gilroy/Gilroy-Light.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium'), url('./font/Gilroy/Gilroy-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular'), url('./font/Gilroy/Gilroy-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  font-family: 'Gilroy';
  font-weight: 400;
}


.home__bottom {
  padding: 0 375px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 90px;
  column-gap: 500px;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-family: 'Gilroy-Bold';
  font-size: 24px;
}

.logo__img {
  background-color: transparent;
}

.logo__text {}

.logo__grow {
  color: #000;
}

.logo__be {
  color: #f25822;
}

a {
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home__link {
  color: #F25822;
}

.features__link {}

.menu__features_img {}

.main {
  width: 100%;
  margin-bottom: 275px;
}

.home {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.home__text {
  max-width: 522px;
  margin-bottom: 37px;
}

.home__left {
  margin-bottom: 20px;
}

.home__h1 {
  color: #000;
  font-family: 'Gilroy-Bold';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.home__h2 {
  color: #888;
  font-family: 'Gilroy-Medium';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home__button {
  display: flex;
  align-items: center;
  gap: 72px;
  font-family: 'Gilroy-Bold';
}

.home__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f25822;
  color: #fff;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  font-size: 15px;
}

.watch__video {
  color: #aaa;
}

.home__bottom {
  margin-top: 200px;
  margin-bottom: 95px;
}

.home__bottom__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HW_5 */
.features {
  margin-top: 100px;
  margin-bottom: 100px;
}

.features__block {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  gap: 60px;
}

.features__01,
.features__03 {
  max-width: 370px;
  padding: 40px 30px 25px 30px;
  ;
}

.features__02 {
  background: #FFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  padding: 40px 30px 25px 30px;
}

.icon {
  margin-bottom: 25px;
}

.title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}

.text {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 22.5px */
  margin-bottom: 25px;
}

.link__btn {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 16.5px */
}

.services {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  background: #FAFAFA;;
}

.text__services {
  text-align: center;
}

.title__services {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
}

.subtitle__services {
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;/* 24px */
  margin: 20px 620px 55px 620px;
}
